@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 96%;
}

p {
  margin-bottom: 0.1vh;
}

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: normal;
  line-height: 95% !important;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
img {
  width: 20vw;
  max-width: 200px;
}

.flex-container_Base_A {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-container_1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  margin: 3vw;
  padding: 1%;
  background-color: rgb(104, 104, 104);
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.flex-container_2A {
  width: 50vw;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.flex-item_1 {
  display: -webkit-flex;
  display: flex;
  width: 99%;
  margin: 1%;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-item_2 {
  display: -webkit-flex;
  display: flex;
  width: 99%;
  margin: 1%;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: left;
  text-align: left;
  flex: 1;
}

.grid_Internal {
  display: grid;
  grid-template-columns: 1vw minmax(20vw, 30vw) 1vw auto 1vw;
  grid-column-gap: 3vw;
  grid-template-rows: auto;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.gridAll {
  grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-column-span: 2;
}

.gridC2 {
  grid-column-start: 2;
}

.gridC3 {
  grid-column-start: 4;
}
